{% extends "secondary_pages_base.html" %}

{% block header %}
<title>
   用户-编辑
</title>
<style type="text/css">
    .layui-nav-img.resize{
        width: 100px;
        height: 100px;
    }
</style>
{% end %}

{% block secondary_page_name %}

{% end %}

{% block body %}
    <form class="layui-form" >
        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>id
            </label>
            <div class="layui-input-inline">
                <input type="text" name="id" required 
                autocomplete="off" class="layui-input" disabled="disabled"  value="{{manager_infos.id}}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>名称
            </label>
            <div class="layui-input-inline">
                <input type="text" name="name" required 
                autocomplete="off" class="layui-input" disabled="disabled"  value="{{manager_infos.managername}}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>邮箱
            </label>
            <div class="layui-input-inline">
                <input type="text" name="email" required 
                autocomplete="off" class="layui-input" disabled="disabled"  value="{{str(manager_infos.email or '')}}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>激活
            </label>
            <div class="layui-input-inline">
                <select  id="is_active" name="is_active" disabled="disabled">
                    <option>
                    </option>
                    <optgroup>
                        <option value="0"> 否 </option>
                        <option value="1"> 是 </option>
                    </optgroup>
                </select>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>角色
            </label>
            <div class="layui-input-inline">
                <select  id="level" name="level" >  <!--disabled   disabled="disabled"  设置元素为不可编辑状态-->
                    <option>
                    </option>
                    <optgroup>
                        <option value=1> 超级管理员 </option>
                        <option value=2> 用户管理员 </option>
                        <option value=3> 图片管理员 </option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>重设密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="password" name="password" required 
                autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="confirmpassword" name="confirmpassword" required 
                autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>创建时间
            </label>
            <div class="layui-input-inline">
                <input type="text" name="create_time" required 
                autocomplete="off" class="layui-input" disabled="disabled"  value="{{str(manager_infos.create_time or '')}}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>最后登录
            </label>
            <div class="layui-input-inline">
                <input type="text" name="last_login" required 
                autocomplete="off" class="layui-input" disabled="disabled"  value="{{str(manager_infos.last_login or '')}}">
            </div>
        </div>
        <div class="layui-form-item">

            <label class="layui-form-label">
                    头像
            </label>
            <div class="layui-upload layui-input-block">
              <div>
                <img id="profile_photo" src="{{static_url(manager_infos.profilephoto)}}" class="layui-nav-img resize">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="edit" lay-submit="">
                完成
            </button>
        </div>
    </form>
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{static_url("js/sha1.js")}}"></script>
<script>
    $("#is_active").val("{{manager_infos.is_active}}");
    $("#level").val("{{manager_infos.level}}"); 
    $('#level').attr("disabled","disabled"); 

    layui.use(['form','layer','upload'], function(){
        $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;

      //监听提交
      form.on('submit(edit)', function(data){
        if($("#password").val() != ""){
            if ($("#password").val().length<6|$("#password").val().length>17) {
                layer.alert("密码长度要大于6小于17")
                return false;
            }
            if ($("#password").val() != $("#confirmpassword").val()) {
                layer.alert("两次输入的秘密不同")
                return false;
            }
            if($("#level").val()==""){
                layer.alert("角色不能为空")
                return false;
            }
            data = {"password":hex_sha1($("#password").val()),"manager_id":"{{manager_infos.id}}"};
            $.ajax({
                  type:"post",
                  url:"/managereditpage",
                  data:data,
                  datatype: "json",
                  cache:false,
                  success:function(data){
                    //console.log(data);
                    if (data.errno == "1") {
                        layer.msg("密码修改成功", {icon: 1});
                    }else{
                        layer.msg("密码修改失败", {icon: 5});
                    }
                },
                  error:function(XMLHttpRequest, textStatus, errorThrown){
                    layer.msg(XMLHttpRequest+"\n"+textStatus+"\n"+errorThrown);
                  },
                });
            }
        return false;
        });
      });
</script>
{% end %}