{% from methods.statics import WEBSIDE_NAME %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
   {{ WEBSIDE_NAME }}
 </title>
 <meta name="renderer" content="webkit">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <link rel="shortcut icon" href="{{static_url("images/favicon.png")}}" type="image/x-icon" />
 <meta name="apple-mobile-web-app-status-bar-style" content="black">
 <meta name="apple-mobile-web-app-capable" content="yes">
 <meta name="format-detection" content="telephone=no">
 <link rel="stylesheet" href="{{static_url("css/x-admin.css")}}" media="all">
 <script type="text/javascript" src="{{static_url("js/jquery.js")}}"></script>
</head>
<body>
  <div class="layui-layout layui-layout-admin">
    <!--顶栏开始-->
    <div class="layui-header header header-demo">
      <div class="layui-main">
        <a class="logo" href="/manager">LOGO
         <!--<img src="images/banner1.png"></img>-->
       </a>
       <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="">最新活动</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">{{managername}}</a>
          <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="javascript:;" onclick="manager_edit('个人信息','/managerinfo','600','510')">个人信息</a></dd>
            <dd><a href="/managerlogout">退出</a></dd>
          </dl>
        </li>
        </ul>
      </div>
    </div>
    <!--顶栏结束-->
    <!--侧边栏开始-->
    <div class="layui-side layui-bg-black x-side">
      <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
          <!--OBD图片管理-->
          <li class="layui-nav-item">
            <a class="javascript:;" href="javascript:;" _href="/picmanagement">
            <i class="layui-icon" style="top: 3px;">&#xe60d;</i><cite>OBD图片管理</cite>
          </a>
        </li>
        <!--用户管理-->
        <li class="layui-nav-item">
          <a class="javascript:;" href="javascript:;" _href="/usermanagement">
            <i class="layui-icon" style="top: 3px;">&#xe612;</i><cite>用户管理</cite>
          </a>
        </li>
        <!--管理员管理-->
        <li class="layui-nav-item">
          <a class="javascript:;" href="javascript:;" _href="/managermanagement">
            <i class="layui-icon" style="top: 3px;">&#xe63c;</i><cite>管理员管理</cite>
          </a>
        </li>
        <!--管理员角色管理-->
        <!-- <li class="layui-nav-item">
          <a class="javascript:;" href="javascript:;" _href="/managersmanage">
            <i class="layui-icon" style="top: 3px;">&#xe63c;</i><cite>管理员角色管理</cite>
          </a>
        </li> -->
        </ul>
      </div>
    </div>
    <!--侧边栏结束-->
    <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true">
      <div class="x-slide_left"></div>
      <ul class="layui-tab-title">
        <!-- <li class="layui-this">
          OBD图片管理
          <i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
        </li> -->
      </ul>
      <div class="layui-tab-content site-demo site-demo-body" style="height:100%;">
       <!--  <div class="layui-tab-item layui-show">
          <iframe frameborder="0" src="/picmanagement" class="x-iframe"></iframe>
        </div> -->
      </div>
    </div>
    <div class="site-mobile-shade"></div>
  </div>
    <script src="{{static_url("lib/layui/layui.js")}}" charset="utf-8"></script>
    <script src="{{static_url("js/x-admin.js")}}"></script>
    <script src="{{static_url("js/x-layui.js")}}" charset="utf-8"></script>   
    <script type="text/javascript">
       layui.use(['form','layer'], function(){});
      function manager_edit (title,url,w,h) {
          x_admin_show(title,url,w,h,"none"); 
      }
    </script>
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>