{% extends "secondary_pages_base.html" %}

{% block header %}
<title>
   用户-编辑
</title>
{% end %}

{% block secondary_page_name %}

{% end %}

{% block body %}
<form class="layui-form " action="">
    <div class="layui-form-item">
        <label for="link" class="layui-form-label">
            <span class="x-red">*</span>名称
        </label>
        <div class="layui-input-block">
            <input type="text" name="name" required 
            autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="link" class="layui-form-label">
            <span class="x-red">*</span>邮箱
        </label>
        <div class="layui-input-block">
            <input type="text" name="email" required 
            autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="link" class="layui-form-label">
            <span class="x-red">*</span>激活
        </label>
        <div class="layui-input-block">
            <select  id="is_active" name="is_active">
                <option>
                </option>
                <optgroup>
                    <option value="0"> 否 </option>
                    <option value="1" selected="selected"> 是 </option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label for="link" class="layui-form-label">
            <span class="x-red">*</span>设置密码
        </label>
        <div class="layui-input-block">
            <input type="password" id="password" name="password" required 
            autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="link" class="layui-form-label">
            <span class="x-red">*</span>确认密码
        </label>
        <div class="layui-input-block">
            <input type="password" id="confirmpassword" name="confirmpassword" required 
            autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
        </label>
        <button  class="layui-btn" lay-filter="edit" lay-submit="">
            完成
        </button>
    </div>
</form>
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{static_url("js/sha1.js")}}"></script>
<script type="text/javascript" src="{{static_url("js/jquery.js")}}" ></script>
<script type="text/javascript" src="{{static_url("js/webuploader_batch.js")}}" ></script>
<script type="text/javascript" src="{{static_url("js/upload.js")}}" ></script>
<script type="text/javascript" src="{{static_url("lib/layui/layui.js")}}" ></script>
<script>
    layui.use(['form','layer','upload'], function(){
        $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;

      //监听提交
      form.on('submit(edit)', function(data){
        var emailreg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
        if (!emailreg.test($("input[name='email']").val())) {
            layer.alert("请使用正确格式的邮箱")
            return false;
        }
        if($("#password").val() != ""){
            if ($("#password").val().length<6|$("#password").val().length>17) {
                layer.alert("密码长度要大于6小于17")
                return false;
            }
            if ($("#password").val() != $("#confirmpassword").val()) {
                layer.alert("两次输入的秘密不同")
                return false;
            }
            data = {"password":hex_sha1($("#password").val()),
                    "user_name":$("input[name='name']").val(),
                    "email":$("input[name='email']").val(),
                    "is_active":$("select[name='is_active'] option:selected").val()};
            $.ajax({
                  type:"post",
                  url:"/useraddpage",
                  data:data,
                  datatype: "json",
                  cache:false,
                  success:function(data){
                    if (data.errno == "1") {
                        layer.alert(data.err);
                    }else{
                        layer.alert(data.err);
                    }
                },
                  error:function(XMLHttpRequest, textStatus, errorThrown){
                    layer.msg(XMLHttpRequest+"\n"+textStatus+"\n"+errorThrown);
                  },
                });
            }
        return false;
        });
      });
</script>
{% end %}