{% from methods.statics import WEBSIDE_NAME %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>
      后台登录 | {{ WEBSIDE_NAME }}
  </title>
  <link rel="stylesheet" href="{{static_url("lib/layui/css/layui.css")}}" media="all" />
  <link rel="stylesheet" href="{{static_url("css/login.css")}}" />
</head>

<body class="beg-login-bg" background="{{static_url("images/bg.jpg")}}" style="overflow-y: hidden">
  <div class="beg-login-box">
     <header>
        <h1>{{ WEBSIDE_NAME }}</h1>
    </header>
    <div class="beg-login-main">
        <form class="layui-form" method="post">

           <div class="layui-form-item">
              <label class="beg-login-icon">
                <i class="layui-icon">&#xe612;</i>
            </label>
            <input type="text" id="manager_email" lay-verify="manager_email" autocomplete="off" placeholder="请输入登录邮箱" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="beg-login-icon">
            <i class="layui-icon">&#xe642;</i>
        </label>
        <input type="password" id="password" lay-verify="password" autocomplete="off" placeholder="请输入密码" class="layui-input">
    </div>
    <div class="layui-form-item">
      <div class="beg-pull-left beg-login-remember">
         <label>记住帐号？</label>
         <input type="checkbox" id="remember_me" value="true" lay-skin="switch" title="记住帐号">
     </div>
     <div class="beg-pull-right beg-login-remember">
         <button class="layui-btn layui-btn-normal" id="login" lay-submit lay-filter="login"  >
             登录
        </button>
    </div>
    <div class="beg-clear"></div>
</div>
</form>
</div>
<footer>
    <p><a href="/"><span style="color:#06F">返回首页</span></a></p>
</footer>

</div>
<script type="text/javascript" src="{{static_url("lib/layui/layui.js")}}"></script>
<script type="text/javascript" src="{{static_url("js/sha1.js")}}"></script>

<script>

  function getCookie(name){
    var x = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return x ? x[1]:undefined;
}

layui.use(['layer', 'form'], function() {
    var layer = layui.layer,
    $ = layui.jquery,
    form = layui.form;

    form.on('submit(login)',function(data){
          var email = $("#manager_email").val();
          var pwd = $("#password").val();//sha1加密
          var rem = $("#remember_me").is(':checked');
          if (!email) {
            layer.open({
              title:"登录错误",
              content: "请输入登录邮箱"
          });
        }else if(!pwd){
            layer.open({
              title:"登录错误",
              content: "请输入密码"
          }); 
        }else{//, "_xsrf":getCookie("_xsrf")
            var pd = {"manager_email":email, "password":hex_sha1(pwd),"remember_me":rem};
            $.ajax({
              type:"post",
              url:"/managerlogin",
              data:pd,
              datatype: "json",
              cache:false,
              success:function(data){
                data = JSON.parse(data);
                if (data.error==1) {
                    layer.open({
                      title:"登录错误",
                      content: data.data
                  }); 
                }else{
                    window.location.href = data.data;
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
              layer.msg(XMLHttpRequest+"\n"+textStatus+"\n"+errorThrown);
          },
      });
        }
        return false;
    });
});
</script>
</body>

</html>