{% from methods.statics import WEBSIDE_NAME %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {{ WEBSIDE_NAME }}{% block title %}{% end %}
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{{static_url("css/x-admin.css")}}" media="all">
    <script type="text/javascript" src="{{static_url("js/jquery.js")}}"></script>
    <script src="{{static_url("js/jquery.textSearch-1.0.js")}}"></script>
    <script type="text/javascript"> 
        // 防止页面被直接浏览
        // if (top==window) {
        //     window.location.href = "/manager";
        // }
    </script>
    <style type="text/css">
        /*表格hover时显示第三钟颜色*/
        .layui-table-hover
        {
            background-color: #F7EED6 !important;
        }
    </style>
    {% block header %}{% end %}
</head>
<body>
    <!--横栏-->
    <!--
    <div class="x-nav">
        <span class="layui-breadcrumb">
            {% block secondary_page_name %}{% end %}
        </span>
    </div>
    -->

    <!--内容-->
    <div class="x-body">
     
        {% block body %}{% end %}
    </div>
    <br /><br /><br />

    <script src="{{static_url("lib/layui/layui.js")}}" charset="utf-8"></script>
    <script src="{{static_url("js/x-layui.js")}}" charset="utf-8"></script>
    {% block javascript %}{% end %}
    <script type="text/javascript">
        (function() {
            var hm = document.createElement("script");
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);

        })();
    </script>
</body>
</html>