{% from methods.statics import FRONT_WEBSIDE_NAME %}
<!DOCTYPE html>
<html class="no-js">
<head lang="zh-cmn-Hans">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ FRONT_WEBSIDE_NAME }} | 拍照比较</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="{{static_url("userassets/i/favicon.png")}}">
  <link rel="stylesheet" href="{{static_url("userassets/css/amazeui.min.css")}}">
  <link rel="stylesheet" href="{{static_url("userassets/css/app.css")}}">
  <script src="{{static_url("userassets/js/jquery.min.js")}}"></script>
  <script src="{{static_url("userassets/js/amazeui.min.js")}}"></script>
  <script src="{{static_url("js/photoCompress.js")}}"></script>
</head>
<body>
  <!-- Header -->
  <header data-am-widget="header" class="am-header am-header-default">
    <h1 class="am-header-title">
      <a href="#title-link">拍照比较</a>
    </h1>
  </header>

  <!-- Menu -->
  <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
    <a href="javascript: void(0)" class="am-menu-toggle">
      <i class="am-menu-toggle-icon am-icon-bars am-icon-lg"></i>
    </a>
    <div class="am-offcanvas">
      <div class="am-offcanvas-bar">
        <ul class="am-menu-nav sm-block-grid-1">        
          <li class="">
            <a href="/">主页</a>
          </li>
          <li class="">
            <a href="/userinfo">个人信息</a>
          </li>
          <li class="am-parent">
            <a href="##">操作</a>
            <ul class="am-menu-sub am-collapse  sm-block-grid-2 ">
              <li class="">
                <a href="/">拍照确认</a>
              </li>
              <li class="">
                <a href="/usecomparepic">拍照比较</a>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="/userlogout">登出</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Form -->
  <form class="am-form" name = "upload_picture">
    <div>
      <div>
        <figure data-am-widget="figure" class="am am-figure am-figure-default "
        data-am-figure="{  zoomble : 'false'  }">
        <img id="picture" style="max-width:90%;max-height: 250px" src="{{static_url("images/before.png")}}"/>
      </figure>
      <input type="file" id="btn_before_picture" accept="image/*" style="display:none">
    </div>
    <div>
      <figure data-am-widget="figure" class="am am-figure am-figure-default "
      data-am-figure="{  zoomble : 'false'  }">
      <img id="picture" style="max-width:90%;max-height: 250px" src="{{static_url("images/after.png")}}"/>
    </figure>
    <input type="file" id="btn_after_picture" accept="image/*" style="display:none">
  </div>
  <div class="am-g">
    <div class="am-u-sm-4">
      <span>端口朝向</span>
      <select id="port_direction">
        <option value="0">上</option>
        <option value="1">下</option>
        <option value="2">左</option>
        <option value="3">右</option>
      </select>
    </div>
    <div class="am-u-sm-4">
      <span>0口位置</span>
      <select id="zero_port_pos">
        <option value="0">左</option>
        <option value="1">右</option>
        <option value="2">上</option>
        <option value="3">下</option>
      </select>
    </div>
    <div class="am-u-sm-4">
      <span>端口排序</span>
      <select id="port_sort">
        <option value="0">降序</option>
        <option value="1">升序</option>
      </select>
    </div>
  </div>
  </br>
    <div class="am-u-sm">
      <div class="am-input-group">
        <span class="am-input-group-label"><i>地址：</i></span>
        <input type="text" id="addAddress" class="am-form-field" placeholder="无二维码时请填写地址">
      </div>
    </div>
  </div>
</div>
<br/>
<div class="am-u-lg-centered">
  <button type="button" id="upload" class="am-btn-xl am-btn-primary am-btn-block"  style="font-size: 3rem;">上传</button>
</div>
<!-- 上传loding -->
<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">正在上传...</div>
    <div class="am-modal-bd">
      <span class="am-icon-spinner am-icon-spin"></span>
    </div>
  </div>
</div>
</form>

<!-- 上传成功认证 -->
<div class="am-popup" id="pic_confirmed">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">返回结果</h4>
      <span data-am-modal-close
      class="am-close">&times;</span>
    </div>
    <div class="am-popup-bd">  <!-- 开始 -->
      <div class="am-tabs" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
          <li class="am-active"><a href="#tab1">施工前图</a></li>
          <li><a href="#tab2">施工后图</a></li>
        </ul>
        <div class="am-tabs-bd">
          <div class="am-tab-panel am-fade am-in am-active" id="tab1">
            <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
              <li> <b>原图:</b> </li>
              <li>
                <!-- <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }"> -->
                  <img name="picture" class="am-thumbnail"/>
                  <!-- </figure> -->
            </ul>
            <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
              <li> <b>确认图:</b> </li>
              <li>
                <!-- <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }"> -->
                  <img name="comfirmed" class="am-thumbnail"/>
                  <!-- </figure> -->
                </li>
            </ul>
            <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
              <li><b>编号:</b></li>
              <li name="code"></li>
            </ul>
            <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
              <li><b>地址:</b></li>
              <li name="address"></li>
            </ul>
            <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
              <li><b>GPS:</b></li>
              <li name="GPS"></li>
            </ul>
          </div>
          <div class="am-tab-panel am-fade am-in am-active" id="tab2">
              <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
                <li> <b>原图:</b> </li>
                <li>
                  <!-- <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }"> -->
                    <img name="picture" class="am-thumbnail"/>
                    <!-- </figure> -->
              </ul>
              <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
                <li> <b>确认图:</b> </li>
                <li>
                  <!-- <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }"> -->
                    <img name="comfirmed" class="am-thumbnail"/>
                    <!-- </figure> -->
                  </li>
              </ul>
              <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
                <li><b>编号:</b></li>
                <li name="code"></li>
              </ul>
              <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
                <li><b>地址:</b></li>
                <li name="address"></li>
              </ul>
              <ul class="am-avg-sm-1 am-avg-md-5 am-thumbnails">
                <li><b>GPS:</b></li>
                <li name="GPS"></li>
              </ul>
          </div>
          <button class="am-btn am-btn-secondary am-btn-block" data-am-modal-close>确认</button>
        </div>
      </div>
    </div>  <!-- 结束 -->
  </div>
</div>

<br/>

<script type="application/javascript">
    //点击图片上传文件
    $("figure").click(function(){
      $(this).parent().find("input").trigger("click");
    });  
    
    //建立一個可存取到該file的url
    function getObjectURL(file) 
    {
      var url = null ;
      if (window.createObjectURL!=undefined) 
        { // basic
          url = window.createObjectURL(file) ;
        }
        else if (window.URL!=undefined) 
        {
          // mozilla(firefox)
          url = window.URL.createObjectURL(file) ;
        } 
        else if (window.webkitURL!=undefined) {
          // webkit or chrome
          url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
      }
    //显示上传的图片
    $(":file").change(function(e){
      var objUrl = getObjectURL(this.files[0]) ;
      console.log("objUrl = "+objUrl) ;
      if (objUrl) 
      {
        $(this).parent().find("img").attr("src", objUrl);
      }
    });

    $("#upload").click(function(){
      // picture = $("#btn_picture");
      var before_picture = document.getElementById("btn_before_picture").files[0];
      var after_picture = document.getElementById("btn_after_picture").files[0];
      if (before_picture&&after_picture) {
        
        var $loading =  $("#my-modal-loading")
        $loading.modal("open");
        
        
        if(before_picture.size/1024 > 1025) { //大于1M，进行压缩上传
          photoCompress(before_picture, {
              quality: 0.2
          },function(base64Codes){
            var bl1 = convertBase64UrlToBlob(base64Codes);
            var formdata = new FormData();
            formdata.append("port_direction" , $("#port_direction").val());
            formdata.append("zero_port_pos" , $("#zero_port_pos").val());
            formdata.append("port_sort" , $("#port_sort").val());
            formdata.append("address",$("#addAddress").val());
            formdata.append("imgFile",bl1,"file_"+Date.parse(new Date())+".jpg");
            $.ajax({
              url:"/usecomfirmpic",
              type: 'POST',
              cache: false,
              data: formdata,
              timeout: 20000,
              //必须false才会避开jQuery对 formdata 的默认处理 
              // XMLHttpRequest会对 formdata 进行正确的处理
              processData: false,
              //必须false才会自动加上正确的Content-Type 
              contentType: false,
              xhrFields: {
                withCredentials: true
              },
              success: function(data) {
                $("#upload").removeAttr("disabled");
                $loading.modal("close");

                // data = JSON.parse(data);
                if (data.msg == "success") {
                  $("#tab1 img[name='picture']").attr("src","/static/"+data.picture_path);
                  // $("#tab1 img[name='picture']").attr("data-rel","/static/"+data.picture_path);
                  $("#tab1 img[name='comfirmed']").attr("src","/static/"+data.confirmed_picture_path);
                  // $("#tab1 img[name='comfirmed']").attr("data-rel","/static/"+data.confirmed_picture_path);
                  $("#tab1 li[name='code']").text(data.code);
                  $("#tab1 li[name='address']").text(data.address);
                  $("#tab1 li[name='GPS']").text(data.GPS);
                  // $("#pic_confirmed").modal("open");
                }else{
                  alert("上传失败")
                }
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest+"\n"+textStatus+"\n"+errorThrown);
              }
            });
          });
        }else{
          var formdata = new FormData();
          formdata.append("port_direction" , $("#port_direction").val());
          formdata.append("zero_port_pos" , $("#zero_port_pos").val());
          formdata.append("port_sort" , $("#port_sort").val());
          formdata.append("address",$("#addAddress").val());
          formdata.append("imgFile",before_picture);
          $.ajax({
            url:"/usecomfirmpic",
            type: 'POST',
            cache: false,
            data: formdata,
            timeout: 20000,
            //必须false才会避开jQuery对 formdata 的默认处理 
            // XMLHttpRequest会对 formdata 进行正确的处理
            processData: false,
            //必须false才会自动加上正确的Content-Type 
            contentType: false,
            xhrFields: {
              withCredentials: true
            },
            success: function(data) {
              $("#upload").removeAttr("disabled");
              $loading.modal("close");
              console.log("before");
              // data = JSON.parse(data);
              if (data.msg == "success") {
                $("#tab1 img[name='picture']").attr("src","/static/"+data.picture_path);
                // $("#tab1 img[name='picture']").attr("data-rel","/static/"+data.picture_path);
                $("#tab1 img[name='comfirmed']").attr("src","/static/"+data.confirmed_picture_path);
                // $("#tab1 img[name='comfirmed']").attr("data-rel","/static/"+data.confirmed_picture_path);
                $("#tab1 li[name='code']").text(data.code);
                $("#tab1 li[name='address']").text(data.address);
                $("#tab1 li[name='GPS']").text(data.GPS);
                // $("#pic_confirmed").modal("open");
              }else{
                alert("上传失败")
              }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              alert(XMLHttpRequest+"\n"+textStatus+"\n"+errorThrown);
            }
          });
        }
       
        if(after_picture.size/1024 > 1025) { //大于1M，进行压缩上传
          photoCompress(after_picture, {
              quality: 0.2
          },function(base64Codes){
            var bl2 = convertBase64UrlToBlob(base64Codes);
            var formdata = new FormData();
            formdata.append("port_direction" , $("#port_direction").val());
            formdata.append("zero_port_pos" , $("#zero_port_pos").val());
            formdata.append("port_sort" , $("#port_sort").val());
            formdata.append("address",$("#addAddress").val());
            formdata.append("imgFile",bl2,"file_"+Date.parse(new Date())+".jpg");
            $.ajax({
              url:"/usecomfirmpic",
              type: 'POST',
              cache: false,
              data: formdata,
              timeout: 20000,
              //必须false才会避开jQuery对 formdata 的默认处理 
              // XMLHttpRequest会对 formdata 进行正确的处理
              processData: false,
              //必须false才会自动加上正确的Content-Type 
              contentType: false,
              xhrFields: {
                withCredentials: true
              },
              success: function(data) {
                $("#upload").removeAttr("disabled");
                $loading.modal("close");

                // data = JSON.parse(data);
                if (data.msg == "success") {
                  $("#tab2 img[name='picture']").attr("src","/static/"+data.picture_path);
                  // $("#tab1 img[name='picture']").attr("data-rel","/static/"+data.picture_path);
                  $("#tab2 img[name='comfirmed']").attr("src","/static/"+data.confirmed_picture_path);
                  // $("#tab1 img[name='comfirmed']").attr("data-rel","/static/"+data.confirmed_picture_path);
                  $("#tab2 li[name='code']").text(data.code);
                  $("#tab2 li[name='address']").text(data.address);
                  $("#tab2 li[name='GPS']").text(data.GPS);
                  $("#pic_confirmed").modal("open");
                }else{
                  alert("上传失败")
                }
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest+"\n"+textStatus+"\n"+errorThrown);
              }
            });
          });
        }else{
          var formdata = new FormData();
          formdata.append("port_direction" , $("#port_direction").val());
          formdata.append("zero_port_pos" , $("#zero_port_pos").val());
          formdata.append("port_sort" , $("#port_sort").val());
          formdata.append("address",$("#addAddress").val());
          formdata.append("imgFile",after_picture);

          $.ajax({
            url:"/usecomfirmpic",
            type: 'POST',
            cache: false,
            data: formdata,
            timeout: 20000,
            //必须false才会避开jQuery对 formdata 的默认处理 
            // XMLHttpRequest会对 formdata 进行正确的处理
            processData: false,
            //必须false才会自动加上正确的Content-Type 
            contentType: false,
            xhrFields: {
              withCredentials: true
            },
            success: function(data) {
              $("#upload").removeAttr("disabled");
              $loading.modal("close");
              console.log("after");
              // data = JSON.parse(data);
              if (data.msg == "success") {
                $("#tab2 img[name='picture']").attr("src","/static/"+data.picture_path);
                // $("#tab1 img[name='picture']").attr("data-rel","/static/"+data.picture_path);
                $("#tab2 img[name='comfirmed']").attr("src","/static/"+data.confirmed_picture_path);
                // $("#tab1 img[name='comfirmed']").attr("data-rel","/static/"+data.confirmed_picture_path);
                $("#tab2 li[name='code']").text(data.code);
                $("#tab2 li[name='address']").text(data.address);
                $("#tab2 li[name='GPS']").text(data.GPS);
                $("#pic_confirmed").modal("open");
              }else{
                alert("上传失败")
              }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              alert(XMLHttpRequest+"\n"+textStatus+"\n"+errorThrown);
            }
          });
        }
      }else{
        alert("请上传施工前和施工后的图片");
      }
    });
  </script>

</body>
</html>
