{% extends "user_base.html" %}

{% block title %} OBD端口业务查询 {% end %}

{% block header %}
<!-- <script src="{{static_url("js/exif.js")}}"></script>
<script src="{{static_url("js/image.js")}}"></script> -->
<link rel="stylesheet" type="text/css" href="{{static_url("css/webuploader.css")}}" />
<link rel="stylesheet" type="text/css" href="{{static_url("css/style.css")}}" />
<link rel="stylesheet" href="{{static_url("iconfont/iconfont.css")}}" />
<link rel="stylesheet" type="text/css" href="{{static_url("css/am-pagination.css")}}" />
<!-- <link rel="stylesheet" type="text/css" href="{{static_url("css/mobiscroll.custom.min.css")}}" /> -->
<link rel="stylesheet" type="text/css" href="{{static_url("lib/mobisscroll3.0/css/mobiscroll.custom-3.0.0-beta2.min.css")}}" /> 
<script src="{{static_url("js/am-pagination.js")}}"></script>
<!-- <script src="{{static_url("js/mobiscroll.custom.min.js")}}"></script> -->
<script src="{{static_url("lib/mobisscroll3.0/js/mobiscroll.custom-3.0.0-beta2.min.js")}}"></script>
<script src="{{static_url("js/jquery.textSearch-1.0.js")}}"></script>

<style>
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {} 

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {} 

/* Small Devices, Tablets */ 
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */ 
@media only screen and (min-width : 992px) {
/*  body{
    background-color: #63bfca;
}
*/
.aclass{
    width: 600px;
    /*height: 480px;*/
    border: 3px solid black;
    margin: 5% auto;
    /*border-radius:30px;*/
    background-color: white;
}
} 

/* Large Devices, Wide Screens */ 
@media only screen and (min-width : 1200px) {
/*  body{
    background-color: #63bfca;
}*/

.aclass{
    width: 600px;
    /*height: 480px;*/
    border: 3px solid black;
    margin: 5% auto;
    /*border-radius:30px;*/
    background-color: white;
}
}

td{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.am-btn::-moz-placeholder { color: #fff; font-size: 1.3rem}
.am-btn:-ms-input-placeholder { color: #fff; font-size: 1.3rem}
.am-btn::-webkit-input-placeholder { color: #fff; font-size: 1.3rem}

.am-pagination>li>a, .am-pagination>li>span {
    padding: .5rem 1rem;
}
.search{

}
</style>
{% end %}

{% block body %}
  <!-- Header -->
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">
        <a href="/userinfo" class="am-btn" style="margin-top:6px;">
            <img class="am-circle" style="width: 35px;height: 35px;" src="{{static_url(user_infos.profilephoto)}}">
            </img>
        </a>
    </div>
    <h1 class="am-header-title">
      <a href="#title-link">业务查询</a>
    </h1>

      <!-- Menu -->
    <nav data-am-widget="menu" class="am-menu am-menu-offcanvas1" data-am-menu-offcanvas>
      <a href="javascript: void(0)" class="am-menu-toggle">
        <i class="am-menu-toggle-icon am-icon-bars am-icon-lg"></i>
      </a>
      <div class="am-offcanvas">
        <div class="am-offcanvas-bar am-offcanvas-bar-flip">
          <ul class="am-menu-nav sm-block-grid-1">        
            <li class="">
              <a href="/">主页</a>
            </li>
            <li class="">
              <a href="/userinfo">个人信息</a>
            </li>
            <li class="">
              <a href="/userlogout">登出</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <!-- content -->


  {% set port_direction = {"0":"端口朝上","1":"端口朝下","2":"端口朝左","3":"端口朝右"} %}
  {% set port_pos = {"0":"0口在上","1":"0口在下","2":"0口在左","3":"0口在右"} %}
  {% set port_sort ={"0":"顺时针","1":"逆时针"} %}
  <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{ "multiple": true }'>

      <form action="/useobdlistpage" method="get">
         <!-- 时间 -->
      <div class="am-g">
        <div class="am-u-sm-6" style="padding: 0">
          <input type="text" name="start_date" id="start_date" placeholder = "开始时间" value = "{{start_date or ""}}" class="am-btn am-btn-success" readonly="" style="width: 100%;font-size: 1.3rem">
        </div>
        <div class="am-u-sm-6" style="padding: 0">
          <input type="text" name="end_date" id="end_date" placeholder = "结束时间" value ="{{end_date or ""}}" class="am-btn am-btn-warning" readonly="" style="width: 100%;font-size: 1.3rem">
        </div>
      </div>
        <!-- 关键字 -->
      <div class="am-g"  style="padding-top: 0.5rem">
        <div class="am-input-group">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button" onclick="resetsearch()"><span class="am-icon-refresh"></span> </button>
          </span>
          
          <input name="keyword" id="keyword"  type="text" class="am-form-field" placeholder="请输入关键字" value="{{keyword or ""}}">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="submit" id="search" ><span class="am-icon-search"></span> </button>
          </span>
        </div>
      </div>
     
      </form>
      {% for one in pictures %}
      <dl class="am-accordion-item">
        <dt class="am-accordion-title">
          <div class="search"><span>{{str(one.name or '')}}</span></div> 
          <div><span style="color: #999;font-size: 1.5rem">{{str(one.create_time or '')}}</span></div>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
            <div class="search">
              <label>
                编码：
              </label>
              {{str(one.code or '')}}
            </div>
            <div class="search">
              <label>
                地址：
              </label>
              {{str(one.address or '')}}
            </div>
            <div>
              <label>
                GPS：
              </label>
              {{str(one.GPS or '')}}
            </div>
            <div>
              <label>
                端口朝向：
              </label>
              {{port_direction[str(one.port_direction)]}}
            </div>
            <div>
              <label>
                0口位置：
              </label>
              {{port_pos[str(one.zero_port_pos)]}}
            </div>
            <div>
              <label>
                端口顺序：
              </label>
              {{port_sort[str(one.port_sort)]}}
            </div>
            <div>
              <label>
                端口占用：
              </label>
              {{str(one.ports_occupy or '')}}
            </div>
            {% set picture_path = str(one.picture_path or '') %}
            <div>
                <label>原图</label><br>
                 <img style="width: 50%" src="{{static_url(picture_path)}}" alt="{{str(one.ports_occupy or '')}}" onclick="showImg(this.src,this.alt)"/>
            </div>
            {% set confirmed_picture_path = str(one.confirmed_picture_path or '') %}
             <div>
                <label>验证图</label><br>
                 <img style="width: 50%" src="{{static_url(confirmed_picture_path)}}" alt="{{str(one.ports_occupy or '')}}" onclick="showImg(this.src,this.alt)"/>
            </div>
          </div>
        </dd>
      </dl>
      {% end %}
  </section>


  <div id="ampagination-amazeui" style="padding-left: 1rem"></div>

    <!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="/useobdlistpage">
        <span class="am-icon-list"></span>
        <span class="am-navbar-label">业务查询</span>
      </a>
    </li>
    <li>
      <a href="/useconfirmpage">
        <span class="am-icon-eye"></span>
        <span class="am-navbar-label">端口占用分析</span>
      </a>
    </li>
  </ul>
</div>
{% end %}

{% block javascript %}
<!-- <script src="//cdn.bootcss.com/eruda/1.4.2/eruda.min.js"></script>
<script>eruda.init();</script> -->
<script type="application/javascript">
  //查找的关键词和时间
  var keyword = "{{keyword}}";
  var start_date = "{{start_date or ""}}";
  var end_date = "{{end_date or ""}}";
  var currYear = (new Date()).getFullYear(); 
  //关键字高亮
  $("section").textSearch( keyword +" "+ start_date +" "+ end_date);
  function resetsearch() {
        keyword = "";
        start_date = "";
        end_date = "";
        $("#keyword").val("");
        $("#start_date").val("");
        $("#end_date").val("");
    }
// https://blog.csdn.net/qzmrock/article/details/47253527
  // $('#start_date').mobiscroll().date({
  //           theme: "ios",
  //           mode: "scroller",
  //           display: "modal",
  //           lang: 'zh',
  //           dateFormat: 'yyyy-mm-dd',
  //           startYear:currYear - 10, //开始年份
  //           endYear:currYear + 10 //结束年份
  //       });

$('#start_date').mobiscroll().range({
    theme: 'mobiscroll',
    lang: 'zh',
    display: 'center',
    controls: ['calendar'],
    dateFormat: 'yy-mm-dd',
    defaultValue: [ "{{start_date or ""}}", "{{end_date or ""}}" ],
    startInput: '#start_date',
    endInput: '#end_date'
});

  // $('#end_date').mobiscroll().date({
  //         theme: "ios",
  //         mode: "scroller",
  //         display: "modal",
  //         lang: 'zh',
  //         dateFormat: 'yyyy-mm-dd',
  //         startYear:currYear - 10, //开始年份
  //         endYear:currYear + 10 //结束年份
  //     });

  function showImg(baseUrl,ports_occupy) {
    $("#ShowImg").remove();
    var infoImg =$( '<div id="ShowImg" class="am-popup">' +
                          '<div class="am-popup-inner">'+
                              '<div class="am-popup-hd">'+
                                '<h4 class="am-popup-title">端口占用：'+ports_occupy+'</h4>'+
                                '<span data-am-modal-close class="am-close">&times;</span>'+
                              '</div>'+
                              '<div class="am-popup-bd">'+
                                '<img class="am-img-responsive" src="' + baseUrl + '" />' +
                              '</div>'+
                          '</div>'+
            '</div>').appendTo("body");
      infoImg.modal("open");
  };

  var pager = window.amPagination('#ampagination-amazeui',{
         page:{{int(page_index)}},
         totals:{{int(count)}},
         pageSize:{{int(limit)}},
         theme:'amazeui'
       });
      pager.onChangePage(function(e){
        window.location.href="/useobdlistpage?page="+e.page+"&limit="+e.pageSize+"&keyword="+keyword+"&start_date="+start_date+"&end_date="+end_date;     
      });
</script>
{% end %}